
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: #f0f0f0; */
  margin: 0;
  padding: 0;
  background: rgb(100, 55, 63);
}
.login-page {
  width: 30%;
  height: 600px;
  background: rgb(165, 159, 165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  margin-top: 20vh;
  border-radius: 20px;
}
h2 {
  text-align: center;
  font-size: 30px;
}

.login-form {
  /* background-color: aquamarine; */
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-page div {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 20px;
  font-weight: 700;
}

.login-form input {
  height: 20px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.login-btn {
  height: 35px;
  width: 100px;
  border-radius: 15px;
  margin-left: 35px;
  background: black;
  color: white;
  font-size: 16px;
}

.book-container {
  display: flex;
  justify-content: space-around;
}

.voting-page img {
  width: 400px;
  height: 600px;
  
}

.book-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-container button {
  height: 50px;
  font-size: 20px;
  border-radius: 60px;
  width: 150px;
  margin-left: 120px;
  border: 1px solid transparent;
  cursor: pointer;
}
.book-container span {
  margin-left: 140px;
  font-size: 25px;
  font-weight: bold;
/* background: white; */
color: white;
}
.logout-btn {
display: flex;
justify-content: center;
align-items: center;
margin: auto auto;
background-color: rgb(4, 2, 0);
width: 120px; 
height: 60px;
margin-top: 70px;
border-radius: 25px;
font-size: 20px;
font-weight: bold;
color: white;
border: 1px solid black;
cursor: pointer;
}